
/API_DDD/.vs
/API_DDD/WebAPI/obj
/API_DDD/Insfraestrutura/obj
/API_DDD/Aplicacao/obj
/API_DDD/Aplicacao/bin
/API_DDD/Dominio/obj
/API_DDD/Insfraestrutura/obj
/API_DDD/Aplicacao/obj
/API_DDD/Aplicacao/obj
/API_DDD/Insfraestrutura/bin
/API_DDD/WebAPI/obj
/API_DDD/Dominio/obj
/API_DDD/Insfraestrutura/obj
/API_DDD/Insfraestrutura/bin
/API_DDD/Insfraestrutura/obj
/API_DDD/WebAPI/obj
/API_DDD/Dominio/bin
/API_DDD/Enditades/obj
/API_DDD/Dominio/bin
